@import "variables";
@import "bootstrap";

:root {
  --vs-scrollbar: #ffffff;
  --vs-scroll: #2c3034;
}

/* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.color-gray {
  color: $color-gray;
}
.color-orange {
  color: $color-orange;
}
.color-dark {
  color: $color-dark;
}

.btn-rounded-angle {
  border-radius: 8px 0;
  padding: 9.5px 14.5px;

  @include respond-to(md) {
    border-radius: 16px 0;
    padding: 13px 22px;
  }

  @include respond-to(lg) {
    border-radius: 24px 0;
    padding: 17.5px 27px;
  }
}
.btn {
  outline: none;
  border: none;

  font-size: 14px;

  @include respond-to(md) {
    font-size: 16px;
  }

  @include respond-to(lg) {
    font-size: 18px;
  }
}

@import 'index-page';