@import "colors";
@import "variables";

#items-description {
  color: $color-dark;
  margin-top: 100px;

  h3 {
    color: $color-orange;
    font-size: 14px;
  }

  p {
    font-size: 14px;

    &.fw-bold {
      font-size: 16px;
    }
  }

  @include respond-to (sm) {
    margin-top: 174px;

    p {
      font-size: 16px;

      &.fw-bold {
        font-size: 18px;
      }
    }
  }

  @include respond-to (lg) {
    margin-top: 185px;

    h3 {
      font-size: 25px;
    }
    p {
      font-size: 18px;

      &.fw-bold {
        font-size: 24px;
      }
    }
  }


}

.category-item {
  margin-bottom: 64px;

  .bg-gray {
    background: $color-light-gray;
    padding: 16px;
    border-radius: 16px 0;
    position: relative;
    width: 90%;

    img {
      height: auto;
      width: 65vw;
    }

    span.category-item_counter {
      font-size: 24px;
      color: $color-dark;
    }

    span.category-item_title {
      font-size: 12px;
      color: $color-gray;
    }

    @include respond-to(md) {
      padding: 26px 32px 52px;
      border-radius: 32px 0;

      img {
        width: 140%;
      }

      span.category-item_counter {
        font-size: 48px;
        font-weight: lighter;
      }

      span.category-item_title {
        font-size: 16px;
      }
    }
  }

  .category-item_info {
    color: $color-gray;
    font-size: 14px;

    p {
      margin-bottom: 16px;
    }

    .category-item_info_title {
      font-size: 18px;
      margin-top: 24px;
      font-weight: 500;
      color: $color-dark;
      margin-bottom: 8px;
    }

    @include respond-to(md) {
      padding-left: 50px;
      font-size: 16px;

      p {
        margin-bottom: 24px;
      }

      .category-item_info_title {
        margin-top: 0;
        font-size: 24px;
      }
    }
  }

  &.category-item-reverse {
    .category-item_info {
      margin-left: 16.66666667%;
    }
    .category-item_image {
      margin-left: 33.33333333%;

      .bg-gray {
        margin-left: auto;
        img  {
          margin-left: calc(-34%);
          width: 134%;
        }

        .category-item_image_text {
          justify-content: flex-end;
          display: inline-flex;
          align-items: baseline;

          span.category-item_counter {
            margin-right: 5px;
          }
        }
      }
    }
    @include respond-to(md) {
      .category-item_image {
        order: 1;
        margin-left: auto;

        .bg-gray {
          img  {
            margin-left: -40%;
            width: 140%;
          }
        }
      }
      .category-item_info {
        order: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 50px;
      }
    }

    @include respond-to(lg) {
      .category-item_info {
        margin-left: 16.66666667%;
      }

      .category-item_image {
        margin-left: 8.33333333%;
      }
    }


  }
}

#perfectly-list {
  h3 {
    color: $color-dark;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }

  p {
    color: $color-gray;
    font-size: 14px;
    line-height: 16.5px;
  }

  ul {
    //list-style-image: url('/public/images/user/mini-logo-list.png') !important;
    li {
      font-size: 14px;
      line-height: 17px;
      color: $color-dark;
      min-height: 55px;
      padding: 0 0 0 75px;
      list-style: none;
      background-image: url("/public/images/user/mini-logo-list.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 55px;

      display: flex;
      align-items: center;
    }
  }

  @include respond-to(md) {
    h3 {
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
    }

    p {
      font-size: 16px;
      line-height: 19px;
    }

    ul {
      //list-style-image: url('/public/images/user/mini-logo-list.png') !important;
      li {
        font-size: 16px;
        line-height: 18.96px;
      }
    }
  }

  @include respond-to(lg) {
    h3 {
      font-size: 32px;
      font-weight: 700;
      line-height: 38px
    }

    p {
      font-size: 18px;
      line-height: 21px;
    }
  }
}

.list-products {
  .card-for-info-products {
    height: 100%;
    margin: 0;
    padding: 16px;
    background-color: $color-light-gray;
    color: $color-dark;
    border-color: transparent;

    border-radius: 8px;

    h4 {
      font-weight: 500;
      display: flex;
      align-items: center;

      margin-bottom: 12px;
      font-size: 16px;
      line-height: 19px;

      span:first-child {
        word-wrap: normal;
      }

      span.badge {
        color: $color-dark;
        background-color: $color-orange;
        font-weight: normal;

        margin-left: 4px;
        border-radius: 4px;
        font-size: 10px;
        line-height: 12px;
        padding: 2px 4px;
      }
    }

    p {
      color: $color-gray;

      font-size: 12px;
      line-height: 14px;
      margin-bottom: 12px;
    }

    @include respond-to(md) {
      border-radius: 12px;

      button {
        width: fit-content;
      }

      h4 {
        font-size: 24px;
        line-height: 28px;

        span.badge {
          margin-left: 8px;
          border-radius: 8px;
          font-size: 14px;
          line-height: 17px;
          padding: 4px 8px;
        }
      }

      p {
        font-size: 16px;
        line-height: 19px;
      }
    }

    @include respond-to(lg) {
      h4 {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;

        span.badge {
          margin-left: 12px;
          font-size: 18px;
          line-height: 21px;
          padding: 4px 8px;
        }
      }

      p {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}