@import "colors";
@import "variables";

#items-description {
  color: $color-dark;
  margin-top: 100px;

  h3 {
    color: $color-orange;
    font-size: 14px;
  }

  p {
    font-size: 14px;

    &.fw-bold {
      font-size: 16px;
    }
  }

  @include respond-to (sm) {
    margin-top: 174px;

    p {
      font-size: 16px;

      &.fw-bold {
        font-size: 18px;
      }
    }
  }

  @include respond-to (lg) {
    margin-top: 185px;

    h3 {
      font-size: 25px;
    }
    p {
      font-size: 18px;

      &.fw-bold {
        font-size: 24px;
      }
    }
  }


}

.category-item {
  margin-bottom: 300px;
  .bg-gray {
    background: $color-light-gray;
    padding: 16px;
    border-radius: 16px 0;
    position: relative;
    width: 90%;

    img {
      height: auto;
      width: 65vw;
    }

    span.category-item_counter {
      font-size: 24px;
      color: $color-dark;
    }

    span.category-item_title {
      font-size: 12px;
      color: $color-gray;
    }
  }

  .category-item_info {
    color: $color-gray;
    font-size: 14px;

    p {
      margin-bottom: 16px;
    }

    .category-item_info_title {
      font-size: 18px;
      margin-top: 24px;
      font-weight: 500;
      color: $color-dark;
      margin-bottom: 8px;
    }
  }
}